.loginPage,
.actionBar,
.authForm ,
.authForm input {
  width: 100%;
}

.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50%;
}
.actionBar {
  display: flex;
  flex-direction: column;
}
