/* CATEGORY SPECIFIC STYLES */
.ibs-category-symptom {
  color: var(--ibs-color-symptom);
  background-color: var(--ibs-color-symptom-light);
}

.ibs-category-menstruation {
  color: var(--ibs-color-menstruation);
  background-color: var(--ibs-color-menstruation-light);
}

.ibs-category-stool {
  color: var(--ibs-color-stool);
  background-color: var(--ibs-color-stool-light);
}

.ibs-category-symptom-inverted {
  color: var(--ibs-color-symptom-light);
  background-color: var(--ibs-color-symptom);
}

.ibs-category-menstruation-inverted {
  color: var(--ibs-color-menstruation-light);
  background-color: var(--ibs-color-menstruation);
}

.ibs-category-stool-inverted {
  color: var(--ibs-color-stool-light);
  background-color: var(--ibs-color-stool);
}

/* HEADINGS */
h1 {
  font-size: var(--ibs-font-size-xl);
  font-weight: 500;
}

h2 {
  color: var(--ibs-color-gray);
  font-size: var(--ibs-font-size-l);
  font-weight: 500;
}

h3 {
  color: var(--ibs-color-black);
  font-size: var(--ibs-font-size-s);
  font-weight: 500;
  text-transform: uppercase;
}

/* PARAGRAPHS */
p.info-paragraph {
  font-size: var(--ibs-font-size-xs);
}

/* PAGES */
.ibs-header {
  margin-top: calc( 2 * var(--ibs-margin-unit));
}

/* INPUT */
.ibs-input {
  font-size: var(--ibs-font-size-s);
  padding: calc(var(--ibs-margin-unit) * 3 / 4) var(--ibs-margin-unit);
  border: 1px solid #f0f0f0;
  border-radius: var(--ibs-radius);
  background-color: var(--ibs-color-gray-light);
  width: 100%;
  box-sizing: border-box;
  margin-top: var(--ibs-margin-unit);
}

.ibs-input:focus {
  outline-color: var(--ibs-color-primary);
}

/* BUTTONS */
.ibs-btn {
  font-size: var(--ibs-font-size-s);
  border: 0;
  padding: calc(var(--ibs-margin-unit) * 3 / 4) var(--ibs-margin-unit);
  margin-top: var(--ibs-margin-unit);
  border-radius: var(--ibs-radius);
  font-weight: 700;
}

.ibs-btn-primary {
  color: var(--ibs-color-primary-light);
  background-color: var(--ibs-color-primary);
}

.ibs-btn-secondary {
  color: var(--ibs-color-primary);
  background-color: var(--ibs-color-primary-light);
}

/* MODAL */
.modal {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ffffff;
}

.modal__header,
.modal__body,
.modal__action-bar {
  padding: 0 var(--ibs-margin-unit);
  margin: var(--ibs-margin-unit) 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: var(--ibs-font-size-l);
}

.modal__action-bar > * {
  flex-grow: 1;
}

.modal__action-bar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--ibs-color-background);
}

/* EVENT TAGS */
.ibs-event-tag {
  padding: calc(var(--ibs-margin-unit) * 1 / 2) var(--ibs-margin-unit);
  margin-bottom: var(--ibs-margin-unit);
  border-radius: var(--ibs-radius);
  border: 1px solid;
  font-weight: 700;
}

.ibs-event-tag:not(.selected) {
  background-color: transparent;
}