/* CATEGORY SPECIFIC STYLES */
.ibs-category-symptom {
  color: var(--ibs-color-symptom);
  background-color: var(--ibs-color-symptom-light);
}

.ibs-category-menstruation {
  color: var(--ibs-color-menstruation);
  background-color: var(--ibs-color-menstruation-light);
}

.ibs-category-stool {
  color: var(--ibs-color-stool);
  background-color: var(--ibs-color-stool-light);
}

.ibs-category-symptom-inverted {
  color: var(--ibs-color-symptom-light);
  background-color: var(--ibs-color-symptom);
}

.ibs-category-menstruation-inverted {
  color: var(--ibs-color-menstruation-light);
  background-color: var(--ibs-color-menstruation);
}

.ibs-category-stool-inverted {
  color: var(--ibs-color-stool-light);
  background-color: var(--ibs-color-stool);
}

.ibs-category-symptom-accent {
  color: var(--ibs-color-symptom-light);
  background-color: var(--ibs-color-symptom-accent);
}

.ibs-category-menstruation-accent {
  color: var(--ibs-color-menstruation-light);
  background-color: var(--ibs-color-menstruation-accent);
}

.ibs-category-stool-accent {
  color: var(--ibs-color-stool-light);
  background-color: var(--ibs-color-stool-accent);
}
/* HEADINGS */
h1 {
  font-size: var(--ibs-font-size-xl);
  font-weight: 500;
}

h2 {
  font-size: var(--ibs-font-size-l);
  font-weight: 500;
}

h3 {
  color: var(--ibs-color-black);
  font-size: var(--ibs-font-size-s);
  font-weight: 500;
  text-transform: uppercase;
}

/* PARAGRAPHS */
p.info-paragraph {
  font-size: var(--ibs-font-size-xs);
}

/* PAGES */
.ibs-header {
  margin-top: calc(2 * var(--ibs-margin-unit));
}

/* INPUT */
.ibs-input {
  font-size: var(--ibs-font-size-s);
  line-height: 24px;
  padding: 10px 14px;
  border: 1px solid var(--ibs-color-gray-light2);
  border-radius: var(--ibs-radius);
  background:#FFF;
  width: 100%;
  box-sizing: border-box;
  margin-top: var(--ibs-margin-unit);
  box-shadow: var(--ibs-shadow-size-xs);
}

.ibs-input:focus {
  outline-color: var(--ibs-color-primary);
  color: var(--ibs-color-input);
}

/* BUTTONS */
.ibs-btn {
  font-size: var(--ibs-font-size-s);
  border: 0;
  padding: calc(var(--ibs-margin-unit) * 3 / 4) var(--ibs-margin-unit);
  margin-top: var(--ibs-margin-unit);
  border-radius: var(--ibs-radius);
  font-weight: 700;
  box-shadow: var(--ibs-shadow-size-xs);
}

.ibs-btn.ibs-btn__size-lg {
  padding: 10px 18px;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.ibs-btn-primary {
  color: var(--ibs-color-primary-light);
  background-color: var(--ibs-color-primary);
  border: 1px solid var(--ibs-color-primary);
}

.ibs-btn-secondary {
  color: var(--ibs-color-primary);
  background-color: var(--ibs-color-primary-light);
  border: 1px solid var(--ibs-color-primary-light);
}

/* MODAL */
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: 5;
}

.modal__header,
.modal__body,
.modal__action-bar {
  padding: 0 var(--ibs-margin-unit);
  margin: var(--ibs-margin-unit) 0;
}
.modal__body {
  overflow: scroll;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: var(--ibs-font-size-l);
}

.modal__action-bar>* {
  flex-grow: 1;
}

.modal__action-bar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--ibs-color-background);
}
.modal__action-bar button:first-child {
  margin-top: initial;
}
/* EVENT TAGS */
.ibs-event-tag {
  padding: 8px 12px 8px 12px;
  margin-bottom: var(--ibs-margin-unit);
  border-radius: 16px;
  font-weight: 700;
  border:0;
  font-size: var(--ibs-font-size-s);
}

.ibs-event-tag.selected {
  outline: 1px solid;
}