:root {
  --ibs-color-background: #ffffff;

  --ibs-color-text: #0B0B0B;

  --ibs-color-primary: #444CE7;
  --ibs-color-primary-light: #EEF4FF;
  --ibs-color-primary-dark: #3538CD;
  --ibs-color-primary-contrast: #ffffff;

  --ibs-color-gray-light: #F9F9F9;
  --ibs-color-gray-light2: #D0D5DD;
  --ibs-color-gray: #AEAEAE;
  --ibs-color-gray-blue: #94A3B8;
  --ibs-color-black: #1E293B;

  --ibs-color-input: #101828;

  --ibs-color-symptom: #175CD3;
  --ibs-color-symptom-accent: #2C8AF0;
  --ibs-color-symptom-light: #EFF8FF;
  --ibs-color-menstruation: #C01048;
  --ibs-color-menstruation-accent: #F63D68;
  --ibs-color-menstruation-light: #FFF1F3;
  --ibs-color-stool: #C4320A;
  --ibs-color-stool-accent: #F86414;
  --ibs-color-stool-light: #FFF6ED;
  
  --ibs-margin-unit: 16px;
  --ibs-page-padding: 20px;

  --ibs-radius: 8px;

  --ibs-font-size-xs: 12px;
  --ibs-font-size-s: 16px;
  --ibs-font-size-m: 18px;
  --ibs-font-size-l: 24px;
  --ibs-font-size-xl: 32px;

  --ibs-shadow-size-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}